annotated-types
anyio
asttokens
backcall
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
mysql-connector-python
nest-asyncio
nltk
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
regex
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
